<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Welcome</title>
</head>
<body>
<h1>Home</h1>

<form action="manage" method="post">
  <div>
    <button>Block yourself</button>
  </div>
</form>

<br>
<br>
<br>
<table border="2">
  <thead>
  <tr>
    <th> Имя пользователя </th>
    <th> Индентификатор </th>
    <th> Соцыальная сеть </th>
    <th> Дата первого входа </th>
    <th> Дата последнего входа </th>
    <th> Статус </th>
  </tr>
  </thead>
  <tbody>
  <tr th:if="${userList.empty}">
    <td colspan="2"> No user available </td>
  </tr>
  <tr th:each="user : ${userList}">
    <td><span th:text="${user.username}"> username </span></td>
    <td><span th:text="${user.socIdentifier}"> socIdentifier </span></td>
    <td><span th:text="${user.socialNetwork.name}"> socialNetwork </span></td>
    <td><span th:text="${user.registeredDate}"> registeredDate </span></td>
    <td><span th:text="${user.visitDate}"> registeredDate </span></td>
    <td><span th:text="${user.status.name}"> status </span></td>
  </tr>
  </tbody>
</table>

</body>

</html>