<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Welcome</title>
</head>
<body>
<h1>Home</h1>
<h3>
<div class="container unauthenticated">
  With GitHub: <a href="/oauth2/authorization/github">click here</a>
</div>
<div class="container unauthenticated">
  With Google: <a href="/oauth2/authorization/google">click here</a>
</div>
<div class="container unauthenticated">
  With Facebook: <a href="/oauth2/authorization/facebook">click here</a>
</div>
</h3>

<br>
<h2 th:utext="${amountUsers}"></h2>
<br>
<div th:each="socCount : ${socCountList}">
  <h3><span th:text="${socCount}"> Message </span></h3>
</div>



</body>

</html>